@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&family=Merriweather:wght@400;700;900&display=swap');

* {
  padding: 0;
  margin: 0;
  /* font-family: 'Inter', sans-serif;
  font-family: 'Merriweather', serif; */
}

header {
  background: url('/resources/Banner\ Image.png');
  background-repeat: no-repeat;
  margin: 50px auto;
  width: 1320px;
  height: 600px;
  border-radius: 16px;
}

.header {
  display: flex;
  flex-direction: column;
  color: #FFF;
  align-items: center;
  text-align: center;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
  padding: 177px 344px;
  border-radius: 16px;
}

.header p {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 16px;
}

.header h1 {
  width: 632px;
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
  /* 131.944% */
  margin-top: 0;
}