@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&family=Merriweather:wght@400;700;900&display=swap');

* {
  padding: 0;
  margin: 0;
  /* font-family: 'Inter', sans-serif;
  font-family: 'Merriweather', serif; */
}

/* Shared style up, header section start */
header {
  background: url('/resources/banner.png');
  background-repeat: no-repeat;
  margin: 50px auto;
  width: 1320px;
  height: 600px;
  border-radius: 16px;
}

.header {
  display: flex;
  flex-direction: column;
  color: #FFF;
  align-items: center;
  text-align: center;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
  padding: 177px 344px;
  border-radius: 16px;
}

.header p {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 16px;
}

.header h1 {
  width: 632px;
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
  /* 131.944% */
  margin-top: 0;
}

/* Header Section done */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 120px;
  margin: 120px 140px;
}

/* discount section */
.discount {
  width: 802.9px;
}

.discount h1 {
  color: #F00;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 88px;
  font-weight: 700;
  margin: 0;
}

.discount p {
  color: #F00;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-weight: 500;
  margin: 48px 0 16px 0;
}

.discount h3 {
  color: #070211;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 48px;
}

/* greeting section start */
.greeting-section {
  display: flex;
  align-items: center;
  background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('/resources/Vectorrr.png');
  padding: 68px 138px 67px 126px;
  border-radius: 15px;
}

.greeting-section h1 {
  width: 642px;
  color: #FFF;
  font-family: 'Merriweather', serif;
  font-size: 64px;
  font-weight: 900;
  line-height: 88px;
  /* 137.5% */
  letter-spacing: 7.04px;
}

.greeting-section p {
  width: 697px;
  color: rgba(255, 255, 255, 0.80);
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  /* 166.667% */
  margin: 24px 0 48px 0;
}

.greeting-section a {
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
}

/* event details section start */
.event-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
  padding: 100px 386px 110px 385px;
}

.event-details-info h2 {
  color: #070211;
  font-family: 'Inter', sans-serif;
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
}

.event-details-info h2>span {
  color: #F00;
}

.primary-btn {
  background: #F00;
  color: #FFF;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  border-radius: 8px;
  padding: 16px 32px;
  text-align: center;
  font-weight: 700;
  border: none;
}

/* mystery section start */
.mystery-section {
  display: flex;
  justify-content: space-between;
  background-color: aquamarine;
  align-items: center;
  gap: 100px;
  height: 463px;
}

.mystery-section div {
  width: 393px;
}

.mystery-section h3 {
  color: #F00;
  text-align: left;
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-weight: 500;
}

.mystery-section h2 {
  color: #070211;
  font-family: 'Merriweather', sans-serif;
  font-size: 48px;
  font-weight: 900;
  margin: 16px 0 22px 0;
}

.mystery-section p {
  color: rgba(7, 2, 17, 0.60);
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  /* 160% */
}

.mystery-section h1 {
  color: #F00;
  font-family: 'Inter', sans-serif;
  font-size: 48px;
  font-weight: 700;
}

.mystery-section .center-img {
  border: 15px solid #F00;
  padding: 35px;
  background: white;
  border-radius: 50%;
}

.mystery-section #inner-para {
  margin: 16px 0 43px 0;
}

.mystery-section #column3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 118px;
}

/* gift section */
.gift{
  /* background: chartreuse; */
}

.gift .text{
  background: rgb(215, 171, 255);
  text-align: center;
}

.gift .text h6 {
  color: #070211;
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-weight: 500;
}

.gift .text h1 {
  color: #070211;
  font-family: 'Merriweather', serif;
  font-size: 72px;
  font-weight: 900;
  margin: 16px auto 28px auto;
}

.gift .text h1 span {
  color: #F00;
  text-align: center;
  font-family: 'Merriweather', serif;
}

.gift .text p {
  color: rgba(7, 2, 17, 0.60);
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  /* 160% */
  margin: 0 130px 69px 130px;
}

.gift .gift-images{
  position: relative;
  height: 662px;
}

.gift .gift-images .gift-img {
  position: absolute;
}

.gift-images .img1{
  left: 5%;
  z-index: 8;
}


.gift-images .img2{
  top: 10%;
  right: 20%;
  z-index: 10;
  height: 230px;
}



.gift-images .img3{
  right: 0;
  width: 429px;
}


.gift-images .img4{
  bottom: 0;
  height: 229px;
  width: 100%;
}

